@model RepairSim.Models.Entidades.ColaboradorArmazem
<form class="form-horizontal" asp-controller="AddLineArmazem" asp-action="Index" method="post">

        <div class="col-md-11">
            <div class="col-md-8 form-group">
                <div>
                    <input asp-for="Experiencia" form="form-class" />
                </div>
            </div>
        </div>
      

    <br />
    </form>